.auth-container{
  width:400px;
  margin:100px auto;
  padding:30px;
  display:flex;
  flex-direction:column;
  gap:15px;
  border-radius:20px;
  background:white;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.auth-container input{
  padding:12px;
  border:1px solid lightgray;
  border-radius:10px;
}

.auth-container button{
  padding:12px;
  border:none;
  border-radius:10px;
  background:#0095f6;
  color:white;
  cursor:pointer;
}

.auth-container span{
  color:#0095f6;
  cursor:pointer;
}